//
// Variables
//

// Typography
$titleFont: "Raleway";
$contentFont: "Open Sans";

// Colors
$color1: crimson; //crimson
$color2: #292929; //light-blue
$color3: #fff; //white
$color4: orange; //orange

// Neat variables
$max-width: 1200px;
$grid-colums: 12;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;
