/*
 * Style for comments
 */

.all-comments {
	overflow: hidden;
	padding: 15px 0 0;

	h4 {
		color: $color2;
		margin: 0 0 15px 0;
	}

	@media (min-width: 740px) {
		background: $color2;
		color: $color3;
		padding: 40px 0;

		h4 {
			color: $color3;
			margin: 0 0 15px 0;
		}
	}
}

.all-comments {
	.comment {
		@media (min-width: 740px) {
			display: inline-block;
			@include span-columns(4);
		}
	}
}

.comment {
	background: $color3;
	border-bottom: 1px solid $color2;
	padding: 15px 15px;

	@media (min-width: 740px) {
		border-bottom: none;
	}

	h4 {
		margin-bottom: 15px;
	}

	p {
		color: $color1;
		@include font-size(12);
	}

	div p:first-child {
		border-bottom: 1px solid $color3;
	}
}

.img-perfil {
	border-radius: 50%;
	float: left;
	margin-right: 15px;
	width: 55px;
}

.latest-comment {
	border: 1px solid $color1;
	display: none;
	margin: 20px 0;

	@media (min-width: $desktop) {
		display: block;
	}
}
